# Managed by ansible.
# file: {{ template_destpath }}

{% for __environment_key, __environment_value in __environment_file.entries.items() %}
{{ __environment_key }}="{{ __environment_value | replace('\\', '\\\\') | replace('"', '\\"') }}"
{% endfor %}
